# Урок 2. Метрики качества классификации ч.1

В уроке мы разбирали матрицу ошибок и некоторые метрики, основанные на терминах матрицы ошибок. Здесь же посмотрим, как эти метрики применять на практике и что  по ним можно выяснить.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/train.csv')
df.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

##### Словарь данных

| **Переменная** | **Определение**| **Значения** |
| --- | --- | --- |
| survival | Выживание | 0 = Нет, 1 = Да |
| pclass | Класс билета | 1 = 1-й, 2 = 2-й, 3 = 3-й |
| sex | Пол |  |
| Age | Возраст в годах |  |
| sibsp | Кол-во братьев и сестер / супругов на борту Титаника	 |  |
| parch | Кол-во родителей/детей на борту Титаника |  |
| ticket | Номер билета |  |
| fare | Пассажирский тариф |  |
| cabin | Номер каюты |  |
| embarked | Порт погрузки | C = Шербур, Q = Квинстаун, S = Саутгемптон |

In [3]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### 1.1
Выкачайте тренировочный датасет Titanic - train.csv - с сайта [kaggle](https://www.kaggle.com/c/titanic/data). С помощью функции pd.read_csv() загрузите данные в датафрейм. Выведите первые 20 строк и проанализируйте данные: какие колонки присутствуют (более конкретная информация по ним есть на сайте kaggle), каким образом в них обозначены данные и какие типы данных используются (используйте pandas.dtypes).

### 1.2
Проверьте, имеются ли пропущенные значения в колонках, и выведите сумму всех пропущенных значений в каждой из колонок.

In [4]:
df.shape

(891, 12)

In [5]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### 1.3
Замените все пропущенные значения колонки Age на медианы в зависимости от пола человека: т.е. если пол человека в строке с пропущенным значением "male", заменяете пропущенное значение возраста на медиану по всем известным возрастам мужчин, и наоборот. Выведите медианы возраста в зависимости от пола. Пропущенные значения колонок Cabin и Embarked замените на U (Unknown).

Примечание: для группировки по полу можно использовать метод df.groupby(), который имеет встроенные агрегатные функции (в т.ч. для вычисления медианы).  Для установки пропущенных значений в датасете воспользуйтесь функцией df.apply().

In [6]:
age_median = dict()
age_median['male'] = df[df['Sex'] == 'male']['Age'].median()
age_median['female'] = df[df['Sex'] == 'female']['Age'].median()

print('Медиана возраста мужчин: {0}\n'
      'Медиана возраста женщин: {1}'.format(
    age_median['male'], age_median['female']
))

Медиана возраста мужчин: 29.0
Медиана возраста женщин: 27.0

In [7]:
df.loc[(df['Sex'] == 'male') & df['Age'].isna(), 'Age'] = age_median['male']
df.loc[(df['Sex'] == 'female') & df['Age'].isna(), 'Age'] = age_median['female']

### 1.4
Выведите возраст пассажиров с PassengerID = [6, 20]. Убедитесь, что заполнены все пропущенные значения (воспользуйтесь функцией df.isnull() ).

In [8]:
df[(df['PassengerId'] == 6) | (df['PassengerId'] == 20)]['Age']

5     29.0
19    27.0
Name: Age, dtype: float64

In [9]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Так как не все классификаторы могут работать с категориальными признаками, в данном случае необходимо заменить их на числовые.

Также можно было бы выделить расширенные признаки, такие как статус пассажира (Mr., Mrs., Miss., Dr., Master. и т.д.), собственный индекс билета, индекс палубы и другие, но здесь ограничимся выбором более простых признаков.

### 1.5
В колонке Sex замените значения на 0, если пол "male", и на 1, если "female". В колонке Embarked замените параметры "U", "S", "C", "Q" на 0, 1, 2, 3 соответственно. Отбросьте колонки PassengerId, Name, Ticket, Cabin. Выведите первые 20 строк получившегося набора данных.

In [10]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})
df['Embarked'] = df['Embarked'].map({'U': 0, 'S': 1, 'C': 2, 'Q': 3})

df = df.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'])

df.head(20)

    Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          0       3    0  22.0      1      0   7.2500       1.0
1          1       1    1  38.0      1      0  71.2833       2.0
2          1       3    1  26.0      0      0   7.9250       1.0
3          1       1    1  35.0      1      0  53.1000       1.0
4          0       3    0  35.0      0      0   8.0500       1.0
5          0       3    0  29.0      0      0   8.4583       3.0
6          0       1    0  54.0      0      0  51.8625       1.0
7          0       3    0   2.0      3      1  21.0750       1.0
8          1       3    1  27.0      0      2  11.1333       1.0
9          1       2    1  14.0      1      0  30.0708       2.0
10         1       3    1   4.0      1      1  16.7000       1.0
11         1       1    1  58.0      0      0  26.5500       1.0
12         0       3    0  20.0      0      0   8.0500       1.0
13         0       3    0  39.0      1      5  31.2750       1.0
14         0       3    1  14.0      0      0   7.8542       1.0
15         1       2    1  55.0      0      0  16.0000       1.0
16         0       3    0   2.0      4      1  29.1250       3.0
17         1       2    0  29.0      0      0  13.0000       1.0
18         0       3    1  31.0      1      0  18.0000       1.0
19         1       3    1  27.0      0      0   7.2250       2.0

In [12]:
df = df.dropna(subset=['Embarked'])
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

### 1.6
Приступим к построению классификаторов. **Условимся, что, если функция или объект модели имеют параметр random_state, то устанавливаем его равным 17 в каждом из случаев.**

Разделите данные на тренировочный и тестовый датасеты, установив размер тестового как 0.25 (первая колонка Survived является целевой, поэтому необходимо сначала ее отделить от признаков).

In [13]:
from sklearn.model_selection import train_test_split

# Выделение целевой переменной
y = df['Survived']
X = df.drop('Survived', axis=1)

# Разделение данных на тренировочные и тестовые датасеты
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)

### 1.7
Обучите на полученных выборках несколько классификаторов, которые импортированы ниже.

**Примечание: в методе ближайших соседей используйте количество соседей, равное 5.**

In [14]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

# Метод ближайших соседей
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

# Наивный Байес
gnb = GaussianNB()
gnb.fit(X_train, y_train)

# Решающее дерево
dt = DecisionTreeClassifier(random_state=17)
dt.fit(X_train, y_train)

# Логистическая регрессия
lr = LogisticRegression(random_state=17)
lr.fit(X_train, y_train)

LogisticRegression(random_state=17)

Очевидно, в этом случае использовать метрику accuracy, которую мы применяли до этого, не совсем правильно: она не даст верную оценку классификатору, потому как выживших явно меньше, чем погибших.

Вспомним про такие метрики как точность и полнота. Здесь они подойдут хорошо, так как у нас имеются положительный и отрицательный классы, и определить корректно один из них может оказаться более важным .

### 1.8
В каждом из пунктов следующего теста выберите, что важнее максимизировать: точность (precision) или полноту (recall). Выпишите ответы.

1. Вероятность того, что при определенной поломке самолета он сможет долететь до пункта назначения (1 - долетел, 0 - не долетел).
2. Предсказание, представляет ли человек опасность, по анализу психического состояния (1 - представляет опасность, 0 - не представляет опасности).
3. Предсказание ухода клиента (1 - клиент ушел, 0 - остался).
4. Выявление рака на основе медицинских показателей (1 - болен раком, 0 - здоров).
5. Предсказание летальности при наблюдаемой мутации (1 - выживание, 0 - летальный исход).
6. Определение важности происшествия для экстренных служб (1 - важно, 0 - неважно).
7. Окупятся ли вложения в бизнес (1 - окупятся, 0 - не окупятся).

Ваш ответ:

1. precision
2. recall
3. recall
4. recall
5. precision
6. recall
7. precision

### 1.9
Определите, что важнее использовать в случае датасета Titanic: полноту или точность. Объясните, почему.

*Ответ: в датасете Titanic мы предсказываем выживет ли человек. Поэтому нам важнее предсказать то, когда человек не выживет. Т.е надо избегать ложно положительных (FP) результатов (предсказаний того, что человек выживет, но да самом деле - нет) => необходимо использовать метрику Precision*

### 1.10
Для каждого классификатора выведите матрицу ошибок и самостоятельно рассчитайте метрику recall (расчеты должны присутствовать). Проверьте расчеты, воспользовавшись встроенной метрикой recall_score.

In [15]:
from sklearn.metrics import confusion_matrix, recall_score, precision_score

# Список моделей
models = [knn, gnb, dt, lr]
model_names = ['KNN', 'GaussianNB', 'DecisionTree', 'LogisticRegression']
best_recall = 0
best_model = None

for model, name in zip(models, model_names):
    y_pred = model.predict(X_test)
    cm = confusion_matrix(y_test, y_pred)
    print(f"Confusion matrix for {name}:")
    print(cm)

    # Расчет recall вручную
    tp = cm[1, 1]
    fn = cm[1, 0]
    recall = tp / (tp + fn)
    print(f"Calculated recall for {name}: {recall}")

    # Проверка встроенной метрикой
    recall_check = recall_score(y_test, y_pred)
    print(f"Recall score for {name}: {recall_check}\n")

    # Проверка лучшей модели
    if recall > best_recall:
        best_recall = recall
        best_model = model

Confusion matrix for KNN:
[[107  19]
 [ 53  44]]
Calculated recall for KNN: 0.4536082474226804
Recall score for KNN: 0.4536082474226804

Confusion matrix for GaussianNB:
[[107  19]
 [ 26  71]]
Calculated recall for GaussianNB: 0.7319587628865979
Recall score for GaussianNB: 0.7319587628865979

Confusion matrix for DecisionTree:
[[100  26]
 [ 31  66]]
Calculated recall for DecisionTree: 0.6804123711340206
Recall score for DecisionTree: 0.6804123711340206

Confusion matrix for LogisticRegression:
[[107  19]
 [ 28  69]]
Calculated recall for LogisticRegression: 0.711340206185567
Recall score for LogisticRegression: 0.711340206185567

### 1.11
Выберите ту модель, на которой метрика recall давала лучший ответ, и рассчитайте для нее precision, используя встроенную функцию.

In [16]:
# Вычисление precision для лучшей модели
y_pred_best = best_model.predict(X_test)
precision = precision_score(y_test, y_pred_best)
print(f"Precision for best model ({best_model.__class__.__name__}): {precision}")

Precision for best model (GaussianNB): 0.7888888888888889